# Cursor Rules для проекта Kollama

## Комманда "КОММИТ"

При получении команды "КОММИТ" получить выполнить следующее:

1. Закоммитить все изменения в репозиторий с кратким описанием изменений.
2. Запушить коммит во все доступные ремоуты
